@font-face {
  font-family: PelitaStdBold;
  src: url(../fonts/PelitaStdBold.otf);
  font-display: swap;
}
@font-face {
  font-family: PelitaStdRegular;
  src: url(../fonts/PelitaStdRegular.otf);
  font-display: swap;
}

:root {
  --greencolor: #19838a;
  --darkgreencolor: #14747a;
  --bodycolor: #343434;
  --blackcolor: #000000;
  --whitecolor: #ffffff;
  --secondarycolor: #434343;

  --fontBold: "PelitaStdBold", Arial, sans-serif;
  --fontRegular: "PelitaStdRegular", Arial, sans-serif;
}

/* Common CSS Start */
body {
  color: var(--bodycolor);
  font-family: var(--fontRegular);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontBold);
  color: var(--blackcolor);
}
@media (min-width: 1300px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1240px;
  }
}
a {
  color: var(--bodycolor);
  text-decoration: none;
}
a:hover {
  color: var(--greencolor);
}
.btn {
  border-radius: 5px;
  padding: 10px 20px;
  font-family: var(--fontBold);
  font-size: 14px;
  outline: 0;
  min-width: 135px;
  transition: all 0.3s 0s linear;
}
.btn.with-icon {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.web-btn,
.btn-primary {
  background-color: var(--greencolor) !important;
  border-color: var(--greencolor);
  color: var(--whitecolor);
}
.web-btn:hover,
.btn-primary:hover {
  background-color: var(--darkgreencolor) !important;
  border-color: var(--darkgreencolor);
  color: var(--whitecolor);
  box-shadow: none;
}
.web-btn2 {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  color: var(--bodycolor);
}
.web-btn2:hover {
  background-color: var(--bodycolor) !important;
  color: var(--whitecolor);
}
.section-padding {
  padding: 60px 0px;
}
.small-section-padding {
  padding: 40px 0px;
}
.web-clr {
  color: var(--greencolor);
}
.bg-light {
  background-color: #f7f7f7;
}
.section-heading {
  font-size: 30px;
  margin-bottom: 50px;
}
.section-heading.with-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-heading.with-btn .heading {
  width: 70%;
}

.section-heading .sub-heading {
  font-size: 15px;
  font-weight: 500;
  font-family: var(--fontRegular);
  margin-bottom: 0;
  margin-top: 10px;
  color: #434343;
}
.small-section-padding .section-heading {
  margin-bottom: 30px;
}
.react-multi-carousel-list {
  margin-right: -20px;
}
.react-multi-carousel-list .slider-item {
  margin-right: 20px;
}
.react-multiple-carousel__arrow {
  background-color: var(--greencolor) !important;
  padding: 0px;
  display: block;
}
.react-multiple-carousel__arrow::before {
  width: 48px !important;
  height: 48px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 15px !important;
  padding-top: 2px;
}
.react-multi-carousel-dot {
  display: none;
}
.react-multi-carousel-dot button {
  width: 8px !important;
  height: 8px !important;
  background-color: var(--bodycolor) !important;
  border-color: var(--bodycolor) !important;
  opacity: 0.2 !important;
  border-radius: 50px !important;
}
.react-multi-carousel-dot--active button {
  background-color: var(--greencolor) !important;
  border-color: var(--greencolor) !important;
  opacity: 1 !important;
}
.react-multiple-carousel__arrow--left {
  left: 10px !important;
}
.react-multiple-carousel__arrow--right {
  right: 33px !important;
}
.breadcrumb-section {
  padding: 10px 0px;
}
.breadcrumb-section .breadcrumb {
  margin: 0px;
  font-family: var(--fontBold);
}
.breadcrumb-section .breadcrumb a {
  color: var(--bodycolor);
  text-decoration: none;
}
.form-control,
.form-select {
  padding: 12px 20px;
  background-position: right 20px center;
  height: auto;
  background-color: #ededed;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: var(--bodycolor);
  font-size: 14px;
  box-shadow: none !important;
  font-family: var(--fontBold);
}
.float-right {
  float: right !important;
}
.card {
  border-color: #ddd;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
}
.card .card-header {
  background-color: transparent;
  border-color: #ddd;
  padding: 0px 0px 20px;
  margin-bottom: 20px;
}
.card .card-header .heading {
  font-size: 20px;
  margin: 0px;
}
.card .card-header a {
  font-size: 14px;
}
.card .card-body {
  padding: 0px;
}
.custom-radio label {
  padding-left: 30px;
  position: relative;
  margin: 0px;
  cursor: pointer;
}
.custom-radio label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 20px;
  height: 20px;
  background-color: #ededed;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-image: url("../images/check.svg");
  background-position: center;
  background-size: 0px;
  background-repeat: no-repeat;
  transition: all 0.2s 0s linear;
}
.custom-radio input:checked ~ label:before {
  background-color: var(--greencolor);
  border-color: var(--greencolor);
  background-size: 15px;
}
.web-overflow {
  overflow: auto;
}
.web-overflow::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.web-overflow::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 50px;
}
.web-overflow::-webkit-scrollbar-thumb {
  background: var(--greencolor);
  border-radius: 50px;
}
.web-overflow::-webkit-scrollbar-thumb:hover {
  background: var(--darkgreencolor);
}
@media (max-width: 992px) {
  .section-padding {
    padding: 30px 0px;
  }
  .small-section-padding {
    padding: 20px 0px;
  }
  .section-heading {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .small-section-padding .section-heading {
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .react-multiple-carousel__arrow {
    display: none;
  }
  .react-multi-carousel-dot {
    display: block;
  }
  .section-heading.with-btn .btn {
    min-width: 100px;
  }
  .react-multi-carousel-list {
    margin-right: -10px;
    padding-bottom: 30px;
  }
  .react-multi-carousel-list .slider-item {
    margin-right: 10px;
  }
  .banner-slider.react-multi-carousel-list {
    margin-right: 0px;
  }
  .banner-slider.react-multi-carousel-list .slider-item {
    margin-right: 0px;
  }
  .breadcrumb-section {
    display: none;
  }
  .section-heading.with-btn .heading {
    width: 60%;
  }
}
/* Common CSS End */
